/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript */


/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[data-language],
pre[data-language] {
    color: black;
    background: none;
    text-shadow: 0 1px white;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5em;
    font-size: 0.92857em;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[data-language]::-moz-selection,
pre[data-language] ::-moz-selection,
code[data-language]::-moz-selection,
code[data-language] ::-moz-selection {
    text-shadow: none;
    background: #b3d4fc;
}

pre[data-language]::selection,
pre[data-language] ::selection,
code[data-language]::selection,
code[data-language] ::selection {
    text-shadow: none;
    background: #b3d4fc;
}

@media print {
    code[data-language],
    pre[data-language] {
        text-shadow: none;
    }
}


/* Code blocks */

pre[data-language] {
    padding: 1em;
    margin: 0 0 0.5em;
    overflow: auto;
}

:not(pre)>code[data-language],
pre[data-language] {
    background: #f5f2f0;
}


/* Inline code */

:not(pre)>code[data-language] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

.ib-hl.comment,
.ib-hl.prolog,
.ib-hl.doctype,
.ib-hl.cdata {
    color: slategray;
}

.ib-hl.punctuation {
    color: #999;
}

.namespace {
    opacity: .7;
}

.ib-hl.property,
.ib-hl.tag,
.ib-hl.boolean,
.ib-hl.number,
.ib-hl.constant,
.ib-hl.symbol,
.ib-hl.deleted {
    color: #905;
}

.ib-hl.selector,
.ib-hl.attr-name,
.ib-hl.string,
.ib-hl.char,
.ib-hl.builtin,
.ib-hl.inserted {
    color: #690;
}

.ib-hl.operator,
.ib-hl.entity,
.ib-hl.url,
[data-language=css] .ib-hl.string,
.style .ib-hl.string {
    color: #a67f59;
    /*background: hsla(0, 0%, 100%, .5);*/
}

.ib-hl.atrule,
.ib-hl.attr-value,
.ib-hl.keyword {
    color: #07a;
}

.ib-hl.function {
    color: #DD4A68;
}

.ib-hl.regex,
.ib-hl.important,
.ib-hl.variable {
    color: #e90;
}

.ib-hl.important,
.ib-hl.bold {
    font-weight: bold;
}

.ib-hl.italic {
    font-style: italic;
}

.ib-hl.entity {
    cursor: help;
}