<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clock</title>
    <script src="../../lib/dist/runtime.js"></script>
    <link rel="stylesheet" type="text/css" href="../../lib/dist/see/see.css" />
    <link rel="stylesheet" type="text/css" href="../../lib/dist/Time/widgets.css" />
    <style>
        #myclock {
            width: 150px;
            height: 150px;
            padding: 10px;
            border-radius: 30px;
            background-color: #000;
            margin: 20px auto;
        }
        
        #myclock .clock-dial {
            background-color: #fff;
        }
    </style>
</head>

<body>
    <div id="myclock"></div>

    <script>
        tang.init().block(['$_/Time/', '$_/Time/Clock'], (_) => {
            var $ = pandora.dom.select,
                time = new pandora.util.Time(),
                times = time.now(),
                view = pandora.render({
                    margin: "50px auto",
                    textAlign: "center",
                    fontSize: "36px",
                    color: "#333"
                }, time.format('yyyy/MM/dd hh:mm:ss', times)),
                clock = new pandora.util.Time.Clock('myclock');
            clock.setSecond(times.second);
            clock.setMinute(times.minute);
            clock.setHour(times.hour);

            time.loop(function() {
                times = this.now();
                view.innerHTML = this.format('yyyy/MM/dd hh:mm:ss', times);
                clock.s = times.second
                clock.m = times.minute;
                clock.h = times.hour;
            }, 1000, 0, true);

            time.process(function() {
                pandora.render({
                    margin: "10px auto",
                    textAlign: "center",
                    fontSize: "18px",
                    color: "#666"
                }, '10秒钟过去了');
            }, 10);

            time.process(function() {
                pandora.render({
                    margin: "10px auto",
                    textAlign: "center",
                    fontSize: "18px",
                    color: "#666"
                }, '1分钟过去了');
            }, 1, 'i');
            time.process(function() {
                pandora.render({
                    margin: "10px auto",
                    textAlign: "center",
                    fontSize: "18px",
                    color: "#666"
                }, '6分钟过去了');
            }, 0.1, 'H');

            var el = $(clock.Element),
                count = 0,
                color = 'red',
                colors = ['red', 'orange', 'yellow', 'green', 'cyan', 'blue', 'purple'];

            setInterval(function() {
                el.removeClass(color);
                color = colors[++count % 7]
                el.addClass(color);
            }, 5000);
            el.addClass(color);
        }, true);
    </script>
</body>

</html>