<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEMPLATE</title>
    <script src="../../../lib/dist/runtime.js" data-tang-debug></script>
</head>

<body>
    <div id="view">

    </div>
    <script id="template1" type="text/template">
        <tr>
            <td>
                {@greeting}, {@name}
            </td>
            <for (var i of [1, 2, 3, 4, 5, 6, 7])>
                <if(i>4)>
                    <td>{@i,g}</td>
                    <}>
                        <}>
        </tr>
    </script>
    <script id="template2" type="text/template">
        {@repeat | repeat, 3}
        <table width="360" border="1" cellspacing="1" cellpadding="1">
            <tr>
                <td>{@showHello ? 'Hello' : 'Bye'}, {@showName && 'tanguage'}</td>
                <for (var i of [1, 2, 3, 4, 5, 6, 7])>
                    <if(i<5)>
                        <td>{@i,g}</td>
                        <}>
                            <}>
            </tr>
            {@@'temp1'}
        </table>
    </script>
    <script>
        tang.init().block([
            '$_/dom/Template'
        ], function(pandora, root, imports, undefined) {

            var document = root.document;
            var view = document.getElementById('view');
            var template1 = document.getElementById('template1').innerHTML;
            var template2 = document.getElementById('template2').innerHTML;
            var temp2 = new pandora.dom.Template(template2, {
                repeat: 'Aa',
                showHello: 1,
                showName: 1
            }, {
                temp1: new pandora.dom.Template(template1, {
                    greeting: 'Hello',
                    name: 'tanguage'
                })
            });
            view.innerHTML = temp2.echo();
            console.log(temp2);

            return {
                temp2
            }
        }, true);
    </script>
</body>

</html>